* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url("images/img1.png");
  height: 825px;
  width: 1600px;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-menu li {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-style: italic;
}

.first {
  padding-top: 20px;
}

.second {
  padding-top: 25px;
}

#logo1 {
  padding-left: 340px;
}

.nav2 {
  width: 1600px;
  height: 75px;
  color: #414f6b;
}

#logo2 {
  padding-top: 10px;
  padding-left: 340px;
}

#history {
  padding-right: 45px;
}

#team {
  padding-right: 320px;
}

.history {
  background-image: url("images/img3.png");
  height: 900px;
  width: 1600px;
}

.climb {
  height: 185px;
  width: 1600px;
}

.mountain {
  background-color: #414f6b;
  height: 40px;
  width: 1600px;
}

.schedule {
  background-image: url("images/img5.png");
  height: 545px;
  width: 1600px;
}

.footer {
  background-color: #414f6b;
  height: 70px;
  width: 1600px;
}
