* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url("images/img1.png");
  background-size: cover;
  height: 825px;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-menu li {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-style: italic;
}

.nav-menu li a {
  color: inherit;
}

.first {
  padding-top: 20px;
}

.second {
  padding-top: 25px;
}

#logo1 {
  padding-left: 340px;
}

.nav2 {
  background-size: cover;
  height: 75px;
  color: #414f6b;
}

#logo2 {
  padding-top: 10px;
  padding-left: 340px;
}

#history {
  padding-right: 45px;
}

#team {
  padding-right: 320px;
}

.history {
  background-image: url("images/img3.png");
  background-size: cover;
  height: 905px;
  display: flex;
}

.history h1 {
  font-family: "Oswald", sans-serif;
  color: #414f6b;
  font-size: 136px;
  padding-top: 70px;
  padding-left: 325px;
  opacity: 0.5;
}

.history h2 {
  font-family: "Oswald", sans-serif;
  color: #414f6b;
  font-size: 32px;
  position: relative;
  top: 155px;
  left: -28px;
}

.history p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  position: relative;
  top: 220px;
  right: 290px;
}

/* .carousel {
  
  height: 195px;
} */

.climb {
  background-size: cover;
  height: 185px;
  display: flex;
}

.climb h1 {
  font-family: "Oswald", sans-serif;
  color: #414f6b;
  font-size: 136px;
  padding-left: 325px;
  opacity: 0.5;
}

.climb h2 {
  font-family: "Oswald", sans-serif;
  color: #414f6b;
  font-size: 32px;
  position: relative;
  top: 85px;
  left: -28px;
}

.climb p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  position: relative;
  top: 60px;
  right: 85px;
}

.mountain {
  background-color: #414f6b;
  background-size: cover;
  height: 40px;
}

.schedule {
  background-image: url("images/img5.png");
  background-size: cover;
  height: 545px;
  display: flex;
}

.calendar {
  background-color: #fff;
  width: 350px;
  height: 230px;
  opacity: 0.5;
}

.calendar h2 {
  font-family: "Oswald", sans-serif;
  color: #414f6b;
  font-size: 32px;
}

.footer {
  background-color: #414f6b;
  background-size: cover;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.footer p {
  font-family: "Lato", sans-serif;
  font-style: italic;
  color: #63769d;
  padding-right: 320px;
  padding-top: 30px;
}
